body{background-color: #e64135;}
h1{color: #ffffff;}
p,li,dd{
    font-size: 20px;
    color: #ffffff;
}
small{
    font-size: 20px;
    color: #e64135;
}

.button {
    background-color: #333333;
    color: #ffffff;
    float: left;
    border-left: 5px #8c3a34;
    border-style: none none none solid;
    outline: none;
    cursor: pointer;
    padding: 16px 12px;
    font-size: 20px;
    width: 20%;
}

.block {
    background-color: #333333;
    color: #ffffff;
    border: 5px solid #8c3a34;
    margin: 10px;
    padding: 10px;
}